/*
 * yes, I know, using !important is bad practice!
 *
 * but, core's CSS rules for hover (and other conditions) on admin bar nodes
 * are so screwy, it's just easier to ensure that things look correct this way.
 */
#wpadminbar #wp-admin-bar-db-crossing-guard .ab-empty-item,
#wpadminbar #wp-admin-bar-db-crossing-guard:hover .ab-empty-item,
#wpadminbar #wp-admin-bar-db-crossing-guard .ab-icon::before {
	color: #fff !important;
}

#wpadminbar #wp-admin-bar-db-crossing-guard.encrypted > .ab-item,
#wpadminbar #wp-admin-bar-db-crossing-guard.encrypted:hover > .ab-item {
	background-color: #00a32a !important /* same as core's border-left-color for .notice-success */
}

#wpadminbar #wp-admin-bar-db-crossing-guard.encrypted .ab-icon::before {
	content: '\f160'; /* dashicons-lock */
}

#wpadminbar #wp-admin-bar-db-crossing-guard.unencrypted .ab-item,
#wpadminbar #wp-admin-bar-db-crossing-guard.unencrypted:hover .ab-item {
	background-color: #dba617 !important; /* same as core's border-left-color for .notice-warning */
}

#wpadminbar #wp-admin-bar-db-crossing-guard.unencrypted .ab-icon::before {
	content: '\f528'; /* dashicons-unlock */
}
