#dashboard_right_now .ssl-db-connection-indicator span,
#network_dashboard_right_now .ssl-db-connection-indicator span {
	cursor: default;
}

#dashboard_right_now .ssl-db-connection-indicator.ssl span:before,
#network_dashboard_right_now .ssl-db-connection-indicator.ssl span:before {
	content: '\f160'; /* dashicons-lock */
	color: #46b450;
}

#dashboard_right_now .ssl-db-connection-indicator.nossl span:before,
#network_dashboard_right_now .ssl-db-connection-indicator.nossl span:before {
	content: '\f528'; /* dashicons-unlock */
	color: #ffb900;
}

/*
 * this rule is the same as that for single-site #dashboard_right_now,
 * except that I've reordered the properties into alpha order.
 */
#network_dashboard_right_now .ssl-db-connection-indicator span:before  {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #606a73;
	display: inline-block;
	font: normal 20px/1 dashicons;
	padding: 0 5px 0 0;
	position: relative;
	speak: never;
	text-decoration: none !important;
	vertical-align: top;
}
