#dashboard_right_now .db-crossing-guard,
#network_dashboard_right_now .db-crossing-guard {
	cursor: default;
}

#dashboard_right_now .db-crossing-guard.encrypted::before,
#network_dashboard_right_now .db-crossing-guard.encrypted::before {
	content: '\f160'; /* dashicons-lock */
	color: #00a32a !important; /* same as core's border-left-color for .notice-success */
}

#dashboard_right_now .db-crossing-guard.unencrypted::before,
#network_dashboard_right_now .db-crossing-guard.unencrypted::before {
	content: '\f528'; /* dashicons-unlock */
	color: #dba617 !important; /* same as core's border-left-color for .notice-warning */
}

/*
 * this rule is the same as that for single-site #dashboard_right_now,
 * except that I've reordered the properties into alpha order.
 */
#network_dashboard_right_now .db-crossing-guard::before  {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #606a73;
	display: inline-block;
	font: normal 20px/1 dashicons;
	padding: 0 5px 0 0;
	position: relative;
	speak: never;
	text-decoration: none !important;
	vertical-align: top;
}
